- @samples.each do |sample|
  %p= link_to sample.name, sample, data:{ push: true }
  /= link_to 'Edit', edit_sample_path(sample)
  /= link_to 'Destroy', sample, :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'Add Sample', new_sample_path
