p, a
  font-family: Verdana
  font-size: 13px


.simple_form label
  font-size: 12px
  font-weight: bold
  float: left
  width: 150px
  margin: 5px 10px 4px 0

.left
  width: 800px
  float: left

.right
  width: 100px
  float: left
  text-align: right

.both 
  clear: both

pre
  background: #D7E7EF
  width: 900px

.block
  width: 400px
  float: left
