p, a
  font-family: Verdana
  font-size: 13px

body
  background: #f2f1f0

.simple_form label
  font-size: 12px
  font-weight: bold
  float: left
  width: 150px
  margin: 5px 10px 4px 0

.left
  width: 690px
  float: left

.right
  width: 100px
  float: left
  text-align: right

.both 
  clear: both

pre
  background: #D7E7EF

.block
  width: 300px
  float: left
  background: #fff
  overflow: hidden
  height: 150px
  margin: 5px
  padding: 10px
  a
    color: #E98C08
    font-size: 16px
    text-decoration: none
    font-weight: bold
    background: #fff
  img
    overflow: hidden
    width: 200px

.center
  margin: 0px auto
  width: 1000px

.wide_block
  width: 800px
  background: #fff
  overflow: auto
  padding: 10px

.add
  background: #fff
  padding: 8px
  margin: 5px
  color: #E98C08
  text-decoration: none
  font-weight: bold
